.navbar {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  min-width: 14rem;
  height: 100vh;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.navbar__logo {
  height: 100px;
  width: 100px;
  border-radius: 8px;
  margin: .5rem;
}

.navbar__items {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navbar__item {
  display: flex;
  padding: 1rem 0.25rem 1rem 1.5rem;
  cursor: pointer;
  transition: var(--transition);
  justify-content: space-between;
  color: var(--color-grey8);
  position: relative;
}

.navbar__itemActive {
  display: flex;
  padding: 1rem 0.25rem 1rem 1.5rem;
  cursor: default;
  justify-content: space-between;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.navbar__item:hover {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.navbar__itemName {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.navbar__itemIcon {
  font-size: 1.3rem;
}

.navbar__divider {
  border: 0.0025rem solid var(--color-grey2);
  width: 100%;
}
